# Python мусор
__pycache__/
*.pyc

# База данных (НЕЛЬЗЯ выкладывать в гит)
postgres_data/
*.sqlite3

# Медиа файлы (картинки пользователей)
web/media/
!web/media/.gitkeep

# Статика (которую собирает сервер)
web/static/
!web/static/.gitkeep

# Переменные окружения и настройки IDE
.env
.idea/
.vscode/
.DS_Store